<div class="pt-4">
  <div class="flex items-center">
    <h4 class="text-base font-bold">Danh sách nhà cung cấp</h4>
  </div>
</div>
<div class="flex items-center mt-2">
  <button nz-button nzDanger class="flex items-center p-2 rounded-lg" routerLink="edit">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm nhà cung cấp
  </button>
</div>

<div class="flex items-center mt-2">
  <nz-input-group nzSize="small" class="mr-auto w-1/3 rounded-md input-group" [nzSuffix]="suffixIconSearch">
    <input type="text" class="text-base" nz-input placeholder="Tìm kiếm"/>
  </nz-input-group>

  <h6>Loại sản phẩm </h6>
  <nz-select ngModel="lucy" class="m-1">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled"></nz-option>
  </nz-select>
  <h6>Hãng sản xuất </h6>
  <nz-select ngModel="lucy" class="m-1">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled"></nz-option>
  </nz-select>
  <button class> <i nz-icon nzType="search"></i></button>
</div>


<nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[Edit,Delete]">
  <nz-card-meta
    nzTitle="Card title"
    nzDescription="This is the description"
    [nzAvatar]="avatarTemplate"
  ></nz-card-meta>
</nz-card>

<ng-template #avatarTemplate>
  <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
</ng-template>
<ng-template #Edit>
  <button class="w-20 h-7 text-base text-white bg-blue-500 font-medium hover:bg-blue-700">EDIT</button>
</ng-template>
<ng-template #Delete>
  <button class="w-20 h-7 text-base text-white bg-red-500 font-medium m-6hover:bg-red-700">DELETE</button>
</ng-template>


<div class="w-full">
  <nz-divider nzOrientation="left" nzText="Horizontal"></nz-divider>
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="6"><div class="inner-box"><nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[Edit,Delete]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #Edit>
        <button class="w-20 h-7 text-base text-white bg-blue-500 font-medium hover:bg-blue-700">EDIT</button>
      </ng-template>
      <ng-template #Delete>
        <button class="w-20 h-7 text-base text-white bg-red-500 font-medium m-6hover:bg-red-700">DELETE</button>
      </ng-template></div></div>
      <div nz-col class="gutter-row" nzSpan="6"><div class="inner-box"><nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[Edit,Delete]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #Edit>
        <button class="w-20 h-7 text-base text-white bg-blue-500 font-medium hover:bg-blue-700">EDIT</button>
      </ng-template>
      <ng-template #Delete>
        <button class="w-20 h-7 text-base text-white bg-red-500 font-medium m-6hover:bg-red-700">DELETE</button>
      </ng-template></div></div>
      <div nz-col class="gutter-row" nzSpan="6"><div class="inner-box"><nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[Edit,Delete]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #Edit>
        <button class="w-20 h-7 text-base text-white bg-blue-500 font-medium hover:bg-blue-700">EDIT</button>
      </ng-template>
      <ng-template #Delete>
        <button class="w-20 h-7 text-base text-white bg-red-500 font-medium m-6hover:bg-red-700">DELETE</button>
      </ng-template></div></div>
      <div nz-col class="gutter-row" nzSpan="6"><div class="inner-box"><nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[Edit,Delete]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #Edit>
        <button class="w-20 h-7 text-base text-white bg-blue-500 font-medium hover:bg-blue-700">EDIT</button>
      </ng-template>
      <ng-template #Delete>
        <button class="w-20 h-7 text-base text-white bg-red-500 font-medium m-6hover:bg-red-700">DELETE</button>
      </ng-template></div></div>
    </div>
</div>
  



<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
