<div class="pt-4">
  <div class="flex items-center">
    <h4 class="text-base font-bold">Danh sách nhà cung cấp</h4>
  </div>
</div>
<div class="flex items-center mt-2">
  <button nz-button nzDanger class="flex items-center p-2 rounded-lg" routerLink="edit">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm nhà cung cấp
  </button>
</div>

<!-- Form Search -->
<div class="flex items-center mt-2">
  <nz-input-group nzSize="small" class="mr-auto w-1/3 rounded-md input-group" [nzSuffix]="suffixIconSearch">
    <input type="text" class="text-base" nz-input placeholder="Tìm kiếm" />
  </nz-input-group>
  <h6>Loại sản phẩm </h6>
  <nz-select ngModel="lucy" class="m-1">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled"></nz-option>
  </nz-select>
  <h6>Hãng sản xuất </h6>
  <nz-select ngModel="lucy" class="m-1">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled"></nz-option>
  </nz-select>
</div>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
<!-- End Form Search -->

<div class="w-900">
  <ng-container *ngFor="let item of list">
    <div nz-row>
      <div nz-col nzSpan="6"><app-product-card></app-product-card></div>
    </div>
  </ng-container>
</div>
