<nz-card style="width: 300px;" [nzCover]="coverTemplate" [nzActions]="[LEFT_BUTTON,RIGHT_BUTTON]">
  <nz-card-meta class="mb-1" nzTitle={{nameProduct}}></nz-card-meta>
  <p class="cellphones-color-price">{{priceProduct | currency:'VND'}}</p>
  <nz-rate [(ngModel)]="rate" nzAllowHalf nzDisabled></nz-rate>
  <span class="ml-2">5 đánh giá </span>
</nz-card>


<ng-template #coverTemplate>
  <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
</ng-template>

<ng-template #LEFT_BUTTON>
  <button class="w-20 h-7 text-base text-white bg-blue-500 font-medium hover:bg-blue-700">{{leftButtonTitle}}</button>
</ng-template>
<ng-template #RIGHT_BUTTON>
  <button class="w-20 h-7 text-base text-white bg-red-500 font-medium m-6hover:bg-red-700">{{rightButtonTitle}}</button>
</ng-template>


