<nz-card
  class="
    transition
    delay-150
    duration-300
    ease-in-out
    hover:-translate-y-1
    card
    rounded-xl
    hover:scale-105 hover:shadow-md
  "
  [nzCover]="coverTemplate"
>
  <nz-card-meta class="mb-1" nzTitle="{{ product.name }}"></nz-card-meta>
  <p class="cellphones-color-price">
    {{ product.originalPrice | currency: "VND" }}
  </p>
  <nz-rate
    class="text-sm"
    [(ngModel)]="product.averageRate"
    nzAllowHalf
    nzDisabled
  ></nz-rate>
  <span class="ml-2 text-sm">{{ product.countRate }} đánh giá </span>
  <div class="grid-cols-2 mt-4 card-footer" *ngIf="isShowFooter">
    <button
      class="
        col-span-1
        w-20
        h-7
        mr-auto
        text-base text-white
        bg-blue-700
        font-medium
        rounded-sm
      "
      (click)="clickLeftButton(product)"
    >
      {{ leftButtonTitle }}
    </button>
    <button
      class="
        col-span-1
        ml-auto
        w-20
        h-7
        text-base text-white
        bg-red-700
        rounded-sm
        font-medium
      "
      (click)="clickRightButton(product)"
    >
      {{ rightButtonTitle }}
    </button>
  </div>
</nz-card>

<ng-template #coverTemplate>
  <img
    alt="example"
    src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
  />
</ng-template>
