
<div class="w-full bg-white-900">
  <div class="flex flex-wrap text-center text-black">

    <div class="w-full md:w-1/4 p-5 md:text-left">
      <div class="my-6 ml-3 text-x2 font-medium"><b>GIỚI THIỆU CÔNG TY</b></div>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Giới thiệu về công ty</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline" >Hệ thống cửa hàng</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Quy chế hoạt động</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Gửi góp ý, khiếu nại</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Tuyển dụng</a>
    </div>

    

    <div class="w-full md:w-1/4 p-5 md:text-left ">
      <div class="my-6 text-x2 font-medium"><b>CHÍNH SÁCH CÔNG TY</b></div>
      
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Chính sách chất lượng</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Chính sách bảo hành</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Chính sách đổi trả</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Chính sách vận chuyển</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Chính sách bảo mật</a>
    </div>

    

    <div class="w-full md:w-1/4 p-5 md:text-left ">
      <div class="my-6 text-x2 font-medium"><b>CÁCH THỨC MUA HÀNG</b></div>
      
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Tra cứu thông tin đơn hàng</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Tra cứu thông tin bảo hành</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Hướng dẫn mua hàng và thanh toán online</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Chính sách mua trả góp</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Câu hỏi thường gặp khi mua hàng</a>
      <a href="#" class="block mt-1 text-base leading-tight font-medium text-black hover:underline">Hướng dẫn mua hàng trả góp online</a>
      
      <!-- <ul class="col-md-10 col-sm-10  col-sm-10 d-flex flex-wrap m-0 list-unstyled">
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-visa"></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-mastercard"></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-atm"></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-alepay"></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-vnpay"></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-momo"></em></a></li>
        <li class="mt-2 pl-0 pr-2"><a href=""><em class="border rounded icon-cps-mpos"></em></a></li>
        </ul> -->
    </div>

    
    <div class="w-full md:w-1/4 p-5 md:text-left">

      <div class="my-6 text-base font-medium"><b>Tư vấn mua hàng( Miễn phí ) </b>
        <a class="text-xl  font-medium text-red-500 ">1800.1600  </a></div>
     <div class="my-6 text-base font-medium"><b>Hỗ trợ kỹ thuật (8h00-18h00) </b>
        <a class="text-xl  font-medium text-red-500 ">1800.1600  </a></div>
     <div class="my-6 text-base font-medium"><b>Góp ý, khiếu nại dịch vụ (8h00-22h00) </b>
       <a class="text-xl  font-medium text-red-500 ">1800.1600  </a></div>

      <!-- <div class="flex justify-between items-center">
        
        <button class="w-full py-4 px-3 rounded border-2 bg-orange-600 hover:bg-orange-700 text-black font-semibold" type="button"> 
         <i class="text-white text-4xl flex items-center hover:cursor-pointer ml-4 rotate-90" nz-icon nzType="phone"
    nzTheme="outline"></i>
  <div class="ml-1 text-white">
    <div class="font-medium">Gọi mua hàng:</div>
    <div class="font-bold text-base">1800.2097</div>
  </div>
        
        </button>
      </div>
      <div class="flex justify-between items-center">
        
        <button class="w-full py-4 px-3 rounded border-2 bg-orange-600 hover:bg-orange-700 text-black font-semibold" type="button">SEND</button>
      </div>
      <div class="flex justify-between items-center">
        
        <button class="w-full py-4 px-3 rounded border-2 bg-orange-600 hover:bg-orange-700 text-black font-semibold" type="button">SEND</button>
      </div>
      <div class="flex justify-between items-center">
        
        <button class="w-full py-4 px-3 rounded border-2 bg-orange-600 hover:bg-orange-700 text-black font-semibold" type="button">SEND</button>
      </div>
       -->

    </div>

  </div>
</div>
