/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.bg-red-custom {
  background-color: #e0052b;
}